#page-create-orphanage{
    display: flex;
    min-height: 100vh;
}

main{
    flex: 1;
}

.map-container{
    margin: 0 0 4rem;
}
.map-container .leaflet-container{
    border-radius: 20px 20px 0 0;
}

.map-container footer{
    background-color: #f5f8fa;
    border-radius: 0 0 20px 20px;
}

.input-block.images button{
    border: 2px dashed #96d2f0;
    width: 100%;
    height: 6.4rem;
    padding: 0 1.6rem;
    margin-top: 2.4rem;
    border-radius: 2rem;
    cursor: pointer;
}